*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
.one{
    background: #273c75;
    border: 5px solid #40739e;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 15px;
    animation-name: learning;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    /* animation-iteration-count: infinite; */
}
/* @keyframes learning{
    from{
        background: #16a085;
        width: 100px;
        height: 100px;
    }
    to{
        background: #d35400;
        width: 400px;
        height: 400px;
    }
} */
@keyframes learning{
    0%{
        background: #f39c12;
        width: 100px;
        height: 100px;
    }
    25%{
        background: green;
        width: 200px;
        height: 200px;
    }
    50%{
        background: navy;
        width: 400px;
        height: 400px;
    }
    75%{
        background: brown;
        width: 100px;
        height: 100px;
    }
    100%{
        background: #d35400;
        width: 200px;
        height: 200px;
    }
}
.main{
    position: relative;
    width: 400px;
    height: 400px;
}
.two{
    background: #4834d4;
    border: 3px solid #130f40;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    position: absolute;
    animation-name: cycle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes cycle{
    0%{
        left: 0;
        top: 0;
    }
    20%{
        left: 300px;
        top: 0;
    }
    40%{
        left: 300px;
        top: 300px;

    }
    75%{
        left: 0;
        top: 300px;

    }
    100%{
        left: 0;
        top: 0;
    }
}
